* {
    box-sizing: border-box;

    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: 80px;
    padding: 50px 160px;

    background: #F2F2F2;
}

.header-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-left img {
    height: auto;
    width: 40px;
}

.header-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style: none;
}


header nav ul li a {
    padding-right: 42px;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    list-style: none;
    text-decoration: none;


    color: #33323D;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100vw;
    height: 80px;
    padding: 60px 160px;

    background-color: #33323D;
}

.footer-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .logo img {
    height: auto;
    width: 40px;
    margin-right: 50px;
}

footer nav ul li a {
    align-self: center;

    padding-right: 42px;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    list-style: none;
    text-decoration: none;


    color: #ffffff;
}

.footer-right img {
    padding-right: 10px;
}